<% @ad.comments.each do |comment| %>
  <p><%= comment.body %></p>
  <small class="text-muted"><%= comment.member.email %> <%= comment.created_at %></small>
  <br>
  <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
  <hr>
<% end %>
