<div class="container">
  <div class="row">
    <%= render partial: 'layouts/site_shared/search' %>
  </div>
  <div class="row">
    <%= render partial: 'layouts/site_shared/sidebar' %>
    <div class="col-lg-9">
      <div class="row">
        <%= render partial: 'layouts/site_shared/adshomepage' %>
      </div>
    </div>
  </div>
</div>
