<div class="container">
  <div class="row">
    <%= render partial: 'site/shared/sidebar' %>
    <div class="col-lg-9">
      <br>
      <div class="card-header">
        <h4><%= @ads.first.category.description %></h4>
      </div>
      <br>
      <div class="row">
        <%= render partial: 'site/shared/adshomepage' %>
      </div>
    </div>
  </div>
</div>
