<div class="container">
  <div class="row">
    <%= render partial: 'layouts/site_shared/search' %>
  </div>
  <div class="row">
    <%= render partial: 'layouts/site_shared/sidebar' %>
    <div class="col-lg-9">
      <br>
      <div class="card-header">
        <h4><%= @category.description %></h4>
      </div>
      <br>
      <div class="row">
        <%= render partial: 'layouts/site_shared/adshomepage' %>
      </div>
    </div>
  </div>
</div>
